[user]
        name = Peter Seale
        email = peter2pseale.com
[alias]
        s = status
        d = diff
        dc = diff --cached

# linux only - windows is already set to some flavor of vi/vim
[core]
        editor = vim
